extends layout
block content    
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      .form-style-2-heading Record Customer calls
  .md-layout.md-layout-nowrap
    .form-style-2      
      form(action='/customer' method='POST')
        label(for='customerName')
          span
            | Customer Name 
            span.required *
          input.input-field(type='text' name='customerName' value='')
        label(for='location')
          span
            | Location 
            span.required *
          input.input-field(type='text' name='location' value='')
        label(for='nin')
          span
            | NIN  
            span.required *
          input.input-field(type='text' name='nin' value='')
        label(for='time_requested')
          span
            | Time requested
            span.required *
          input.input-field(type='time' name='time_requested' value='')
        label(for='type_of_request')
          span Type of Request
          select.select-field(name='type_of_request')
            option(value='One Time') One Time
            option(value='Subscription') Subscription
        label
          span Telephone
          input.tel-number-field.phone_field1(type='text' name='tel_no_1' value='+256' maxlength='4')
          | -
          input.tel-number-field.phone_field2(type='text' name='tel_no_2' value='' maxlength='3')
          | -
          input.tel-number-field.phone_field2(type='text' name='tel_no_3' value='' maxlength='6')
        label(for='employee_type')
          span Number of Trucks
          select.select-field(name='no_of_trucks')
            option(value='1') 1
            option(value='2') 2
        label Services Requested
        .chckboxes
          .option1
            label.checkbox-inline
              input#inlineCheckbox1(type='checkbox' value='Garbage Collection' name='service_requested')
              span.checkbox_labels Garbage &nbsp &nbsp
          .option2
            label.checkbox-inline
              input#inlineCheckbox2(type='checkbox' value='sewage' name='service_requested')
              span.checkbox_labels Sewage &nbsp &nbsp 
        br
        br
        label
          span  
          input#button_submit(type='submit' value='Submit')
