extends layout
block content    
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      .form-style-2-heading Record Customer calls
  .md-layout.md-layout-nowrap
    .form-style-2      
      form(action='/customer' method='POST' name='customerCalls' onSubmit="return orders_validation(event);")
        label#error-message 
        label(for='customerName')
          span
            | Customer Name 
            span.required *
          input.input-field(type='text' name='customer_name' value='')
          label#error-cName 
        label(for='location')
          span
            | Location 
            span.required *
          input.input-field(type='text' name='location' value='')
        label(for='nin')
          span
            | NIN  
            span.required *
          input.input-field(type='text' name='nin' value='')
        label(for='time_requested')
          span
            | Time requested
            span.required *
          input.input-field(type='time' name='time_requested' value='' )        
        label
          span Telephone
          input.tel-number-field.phone_field1(type='text' name='tel_no_1' value='+256' maxlength='4')
          | -
          input.tel-number-field.phone_field2(type='text' name='tel_no_2' value='' maxlength='3')
          | -
          input.tel-number-field.phone_field2(type='text' name='tel_no_3' value='' maxlength='6')
        label(for='employee_type')
          span Number of Trucks
          select.select-field(name='no_of_trucks')
            option(value="default") --Select No. of conductors --
            option(value='1') 1
            option(value='2') 2

          p 
            span (Please select desired service type below)
        label(for='sewage Service')
          span Service request
          select.select-field(name='desired_service')
            option(value="default") --Select desired service -- 
            option(value='sewage_onetime') Sewage oneTime
            option(value='sewage_subscription') Sewage Subscription
            option(value='garbage_onetime') Garbage oneTime
            option(value='garbage_subscription') Garbage Subscription

        label
          span  
          input#button_submit(type='submit' value='Submit')

