extends layout
block content   
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      h2  Recorded customer list
  .md-layout.md-layout-nowrap
    table#customer_list
      thead
        tr
          th Customer Name
          th  Location 
          th  Service Need
          th  Trucks needed 
          th  Time 
          th  Tel Phone 
          th  Request type 
      tbody
        tr
          td  Kenneth 
          td  Kajjansi 
          td  Sewage, toilet empty
          td  2 
          td  11-March-2021 11:32AM
          td  0771999999 
          td  Subscription
        tr
          td  Opio 
          td  Mutundwe 
          td  Rubbish, toilet empty
          td  2 
          td  9-March-2021 8:00AM
          td  0700111222 
          td  One time