doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  style
    include ../public/css/homepage.css
   
  title=title
.md-layout.page-content
  .md-layout-item.st-sidebar
    .md-layout-item.flex-container
      // The flex container is useful when you have 2 div and need space between using style (justice-content: space-between)
      div
        a.md-button.navbar-item.md-theme-default(href='/customer')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img( src='/images/home.png', style='width: 35px; height: 35px;' )
        a.md-button.navbar-item.md-theme-default(href='/employeeRegister')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/register.png', style='width: 35px; height: 35px;')
        a.md-button.navbar-item.md-theme-default(href='/customer/recordCalls')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/customer.png', style='width: 35px; height: 35px;')
        a.md-button.navbar-item.md-theme-default(href='#')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/bars.png', style='width: 35px; height: 35px;')
      // Finance section
      div
        a.md-button.navbar-item.md-theme-default(href='#')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/settings.png', style='width: 35px; height: 35px;')
  .md-layout-item.main-content
    block content
