doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate')
  meta(http-equiv='Pragma', content='no-cache')
  meta(http-equiv='Expires', content='-1')
  style
    include ../public/css/homepage.css
  //- script(src="https://code.jquery.com/jquery-3.5.1.js")
  //- script(src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
  //- script(src="/js/selectedNav.js")
  link(href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
   
  title=title
.md-layout.page-content
  .md-layout-item.st-sidebar
    .md-layout-item.flex-container
      // The flex container is useful when you have 2 div and need space between using style (justice-content: space-between)
      div
        a.md-button.navbar-item.md-theme-default(href='/customer')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img( src='/images/home.png', style='width: 35px; height: 35px;' )
        
        a.md-button.navbar-item.md-theme-default(href='/customer/calls')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/customer.png', style='width: 35px; height: 35px;')

        a.md-button.navbar-item.md-theme-default(href='/employee')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/register.png', style='width: 35px; height: 35px;')

        a.md-button.navbar-item.md-theme-default(href='/employee/list')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/bars.png', style='width: 35px; height: 35px;')
        a.md-button.navbar-item.md-theme-default(href='/truck')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/truck.png', style='width: 35px; height: 35px;')
      // Finance section
      div
        a.md-button.navbar-item.md-theme-default(href='/logout')
          .md-ripple
            .md-button-content
              i.md-svg-loader.md-icon.md-icon-image
                img(src='/images/logout.png', style='width: 35px; height: 35px;')
  .md-layout-item.main-content
    block content
