doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
    include ../public/styles.css

  title Signup
.form-style-2
  .form-style-2-heading Provide your information
  form(action='#' method='#' name='tuesday')
    label(for='userName')
      span
        | Name 
        span.required *
      input.input-field(type='text' name='userName' value='')
    label(for='userEmail')
      span
        | Email 
        span.required *
      input.input-field(type='text' name='userEmail' value='')
    label
      span  
      input(type='submit' value='Submit')
