doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    body {font-family: Arial, Helvetica, sans-serif;}
    .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    * {box-sizing: border-box}
    .container {
    padding: 16px;
    }
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }
    input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    }
    hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    }
    .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }
    .registerbtn:hover {
    opacity:1;
    }
    /* Add a blue text color to links */
    a {
    color: dodgerblue;
    }
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
    background-color: #f1f1f1;
    text-align: center;
    }
h2 Modal Example
// Trigger/Open The Modal
button#myBtn Open Modal
// The Modal
#myModal.modal
  // Modal content
  .modal-content
    span.close &times;
    form(action="/employee/update?id="+employee._id method='POST')
      .container
        h1 Register
        p Please fill in this form to create an account.
        hr
        label(for='email')
          b Email
        input#email(type='text' placeholder='Enter Email' name='email' required='')
        label(for='psw')
          b Password
        input#psw(type='password' placeholder='Enter Password' name='psw' required='')
        label(for='psw-repeat')
          b Repeat Password
        input#psw-repeat(type='password' placeholder='Repeat Password' name='psw-repeat' required='')
        hr
        p
          | By creating an account you agree to our 
          a(href='#') Terms &amp; Privacy
          | .
        button.registerbtn(type='submit') Register
      .container.signin
        p
          | Already have an account? 
          a(href='#') Sign in
          | .
script.
  // Get the modal
  var modal = document.getElementById("myModal");
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  // When the user clicks the button, open the modal
  btn.onclick = function() {
  modal.style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
  modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
  if (event.target == modal) {
  modal.style.display = "none";
  }
  }
